@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;  
}

body {
    background-color: rgb(208,187,108);
}

.logo-friends {
	width:25% ;
	margin: 60px 0 40px 500px;
}

p {
    font-size: 18px;
	font-family: 'Nova Mono', monospace;
	text-align: justify;
    margin: 0.9em 0 2.5em 0;
}

a {
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    color: white;
	border: 2px black solid;
    border-radius: 12px;
    padding: 0.4em 0.7em;
    list-style-type: none;
}

.voltar{
    background-color: rgb(81,116,173);
}

.escolha {
	background-color: rgb(179,74,88);
}

div {
	width: 60%;
	margin-left: 260px;
}

nav {
	padding-top:30px ;
	display: flex;
	justify-content: space-around;
}
