@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-image: url(../../Pictures/Pictures/background-centrak].jpg);
	background-size: contain;
	background-position: center;
}

.placa-open {
	display: block;
	margin: 0 auto;
	--cor-neon: rgb(154, 215, 255);
}

img {
	animation: neon 2s alternate infinite ease-in-out;
}

@keyframes neon {
	from {
		filter: drop-shadow(0 0 0 var(--cor-neon));
	}

	to {
		filter: drop-shadow(0 0 30px var(--cor-neon))
	}
}

section {
	width: 80%;
	margin:auto;
	background-color: #010f08;
	padding: .9em 3em;
	border-radius: 2em;
	
}

p {
	font-size: 1.1875em;
	font-family: 'Fredericka the Great', cursive;
	text-align: justify;
	margin-bottom: 2em;
	margin-top: 1em;
	color: white;
}

div{
	display: flex;
	margin-left: 5em;
}

div img{
	width: 15%;

}

div img:hover{
transition: 0.5s;
transform: scale(1.1);
}

.joey,.ross,.chendler,.rachel {
	width: 13%;
}

nav {
	padding-top: 1.875em;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.9375em
}

a {
	font-size: 1.3125em;
	text-transform: uppercase;
	font-family: 'Cuprum', sans-serif;
	color: white;
	border: 0.125em black solid;
	border-radius: 0.75em;
	padding: 0.4em 0.7em;
	list-style-type: none;
}

.voltar {
	background-color: rgb(81, 116, 173);
}

.escolha {
	background-color: rgb(179, 74, 88);
}

.escolha:hover {
	background-color: rgb(81, 116, 173);
}

.voltar:hover {
	background-color: rgb(179, 74, 88);
}