/* Media Query - Levels Monica*/
/* Tablet 768px */

@media (max-width: 768px) {
   p {
       width: 90%;
   }

   .div-level1-texto {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        padding: 1em 0;
        align-items: center;
   }

   .imagem-botao {
       margin-left:4.2em;
   }
}

/* Mobile L - 425px */
@media (max-width: 425px) { 
    .imagem-botao {
        width: 80%;
    }

    .monica-frango{
        width: 80%;
    }
    
    .botao1 {
        font-size: 1.3em;
        margin-left:2em;
    }

    p{
        padding: 0;
    }

    h1 {
        font-size: 1.6em;
    }
}

    /* Mobile M - 375px */
@media (max-width: 375px) { 
    h1 {
        font-size: 1.3em;
    }

    .botao1 {
        font-size: 1.15em;
        margin-left:1.7em;
    }
    
    p {
        font-size: 0.85em;
    }
}

      /* Mobile S - 320px */
@media (max-width: 320px) { 
    h1 {
        font-size: 1.1em;
    }

    .botao1 {
   
        margin-left:1.2em;
    }
}