/* Media Query - Levels Monica*/
/* Tablet 768px */

@media (max-width: 768px) {
    section, .section-level2, .section-level3{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 750px;
    }
    .section-level3{
        margin-top: 40px;
    }
    
    .div-level1, .div-level2{
        width: 700px;
        margin: 30px;
        padding: 0;
    }
    
    h1 {
        font-size: 25px;
    }

    p{
        font-size: 15px;

    }    
    .monica-frango, .monica-frango2 {
        display: none;
    }

    .monica-frango1, .monica-frango3{
        width: 250px;
        display: inline;
        margin-left: 170px;
    }

    .botao1{
        font-size: 18px;
        border-radius: 12px;
        padding: 0.5em 1em;
        margin:20px 210px;
    }
    
    .botao2{
        font-size: 18px;
        border-radius: 12px;
        padding: 0.5em 1em;
        margin:20px 310px;
    }
}

/* Mobile L - 425px */
@media (max-width: 425px) { 
    .botao1{
        font-size: 22px;
        margin:20px 180px;
    }
    
    .section-level2, .section-level3{
        width: 410px;
    }

    .div-level2, .div-level3{
        width: 400px;
        margin: 30px;
    }

    .div-level2 h1, .div-level2 p{
        width: 365px;
    }
    .div-level3 h1, .div-level3 p{
        width: 365px;
    }

    .monica-frango3{
        margin: auto;
    }

    .botao2 {
        margin:10px 130px;
    }
}