@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(208,187,108);
}

.div-level3-titulo,
.div-level3-texto {
	background-color: rgba(255, 255, 255, 0.5);
	width: 85%;
	border-radius: 1em;
	margin: 1em auto;
}

.div-level3-texto {
	display: flex;
    
}


h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.section-level3 {
	margin-top: 1em;
}

.level3-texto {
	font-family: 'Nova Mono', monospace;
	margin: 1em 1em;
	padding: 3em 3em 0 3em;
  
}

.imagem-botao div {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-evenly;
}

.botao3 {
	font-size: 1.4em;
	text-transform: uppercase;
	font-family: 'Cuprum', sans-serif;
	color: white;
	border: 2px black solid;
	border-radius: 0.8em;
	padding: 0.5em 1em;
	list-style-type: none;
	background-color: rgb(81, 116, 173);
    margin: 1em 0 2em 5em;
}

.rachel {
    width: 70%;
    margin: 1em 0;
}