@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;  
}

body {
    background-image: url(../../Pictures/Pictures/background-index.jpg);
    
}

img {
    animation: neon 1s alternate infinite ease-in-out;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 30px var(--cor-neon))
    }
}

.central-park{
    width: 55%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 8%;
    --cor-neon: rgb(250, 250, 84);
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

nav :hover {
    transition: 0.5s;
    transform: scale(1.1);
}

li {
    border: 0.25em black solid;
    border-radius: 9px;
    padding: 0.5em 1em 0.7em 1em;
    list-style-type: none;
    margin-top: 1.875em;
    background-color: #003226;
}

a {
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-weight: 200;
    padding: 0.5em 1em 0.7em 1em;
}

