@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../Pictures/Pictures/background-index.jpg);

}

img {
    animation: neon 1s alternate infinite ease;
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }

    to {
        filter: drop-shadow(0 0 20px var(--cor-neon))
    }
}

.gameover {
    --cor-neon: rgb(196, 255, 247);
    margin: 8px 260px 40px 260px;
}

.gif-ross {
    margin: 80px 00px 0px 460px;
    width: 350px;
    border-radius: 8px;
}

.jogar {
    border: 0.1em black solid;
    border-radius: 9px;
    padding: 0.3em .6em 0.3em .6em;
    list-style-type: none;
    margin-top: 30px;
    background-color: #003226;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    margin-left: 510px;
   
}