/* Media Query - Chars (Monica, Ross e Rachel) */
/* Tablet 768px */

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
        margin-top: 40px;
    }

    .monica {
        width: 210px;
    }

    .conteudo-personagem div{
        width: 400px;
    }
    .ross {
        width: 280px;
    }

    .rachel {
        width: 330px;
    }

    section {
        margin: 65px 90px 50px 40px;
        width: 80% ;
    }

    p {
        margin-left: 40px;
        text-align: justify
    }

    nav {
        margin-bottom: 20px;
    }
}

/* Mobile L - 425px */
@media (max-width: 425px) {
    section{
        display: flex;
        flex-direction: column;
    }

    .monica {
        width: 250px;
    }

    .conteudo-personagem {
        width: 360px;
        margin: 0.5em;
    }

    p{
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin:0 130px;
        align-items: center;
        padding-top:0px;
    }
    
    a{
        margin: 0.3em;
    }

    .voltar, .jogar {
        font-size: 1.7em;
    }
}

/* Mobile M - 375px */
@media (max-width: 375px) {
    h1{
        font-size: 37px;
    }

    .conteudo-personagem {
        width: 300px;
    }
    .voltar, .jogar {
        font-size: 1.5em;
    }

    nav {
        margin: 0 90px;
    }
}

/* Mobile S - 320px */
@media (max-width: 320px) {

    .monica {
        width: 230px;
    }

    .rachel {
        width: 280px;
    }

    .conteudo-personagem {
        width: 250px;
        margin: auto;
    }
}